.kotak{
	width: 85%;
	height: 70%;
	background-color: white;
	float: left;
    text-align: center;
    margin-left: 100px;
    margin-top: 100px;
}
body{
    background-color: lightgray;
}
img{
    height: 350px;
    width: 350px;
    float: left;
        margin: 20px;
}
.deskripsi{
    width: 360px;
    height: 200px;
    background-color: white;
    float: left;
    margin-left: 20px;
    margin-top: 20px;

}
.kotak .yup{
    width: 375px;
    height: 420px;
    background-color: whitesmoke;
    float: left;
    margin-top: 20px;
}
.deskripsi h1{
    margin-left: 20px;
}
.deskripsi h3{
    color: peru;
}
label{
    font-size: 11pt;
    float: left;
    margin-top: 35px;
    margin-left: 10px;
}
 
.form_login{
	/*membuat lebar form penuh*/
	box-sizing : border-box;
	width: 70%;
	padding: 10px;
	font-size: 11pt;
    margin-top: 20px;
    float: right;
    margin-right: 10px;
}
 
.tombol_login{
	background: #46de4b;
	color: white;
	font-size: 11pt;
	width: 80%;
	border: none;
	border-radius: 3px;
    padding: 10px 20px;
    margin-top: 30px;
}
